<!-- home [section_1]-->
	<div id="section_1">

		<!-- javascript fallback -->
		<noscript>
			<ul class="noscript">
				<li>Unfortunately your browser does not have JavaScript capabilities which are required to exploit full functionality of our site. This could be the result of two possible scenarios:</li>
				<li>You are using an old web browser, in which case you should upgrade it to a newer version. We recommend the latest version of <a href="http://www.getfirefox.com">Firefox</a>.</li>
				<li>You have disabled JavaScript in you browser, in which case you will have to enable it to properly use our site. <a href="http://www.google.com/support/bin/answer.py?answer=23852">Learn how to enable JavaScript</a>.</li>
			</ul>
		</noscript>
		<!-- /end javascript fallback -->

		<!-- header -->
		<div id="wrap-header">
			<div id="wrap-2-header">

				<div id="logo">
				  <a href="#section_1"></a>
				</div>

				<ul id="menu">
					<li><a href="#section_1">Overview</a></li>
					<li><a href="#section_2">Location</a></li>
					<li><a href="#section_3">Lodging</a></li>
					<li><a href="#section_4">Travel</a></li>
					<li><a href="#section_5">Stay Connected</a></li>
				</ul>

				<div class="clear"></div>

			</div>
		</div>
		<!-- /end header -->

		<!-- slider -->
		<div id="wrap-slider">
			<div id="wrap-2-slider">
			  <div id="slider" class="nivoSlider">
  					<img src="images/slider/slider1.jpg" width="940" height="380" alt="" />
  					<img src="images/slider/slider2.jpg" width="940" height="380" alt="" />
  					<img src="images/slider/slider3.jpg" width="940" height="380" alt="" />
  					<img src="images/slider/slider4.jpg" width="940" height="380" alt="" />
  					<img src="images/slider/slider5.jpg" width="940" height="380" alt="" />
  					<img src="images/slider/slider6.jpg" width="940" height="380" alt="" />
  					<img src="images/slider/slider7.jpg" width="940" height="380" alt="" />
  					<img src="images/slider/slider8.jpg" width="940" height="380" alt="" />
  			</div>
			</div>
		</div>
		<!-- slider -->

		<!-- Overview -->
		<div class="wrap-section-body">
			<div id="info">
				<h1>February 28, 2012</h1>

				<div class="column-960">
					<h2>We invite you to share in our special day!</h2>
					<p>Stefanie and Jordan are getting married February 28, 2012 in Riviera Cancun, Mexico at Secrets Maroma Beach resort.  Being a destination wedding there is a lot to of planning to do so we decided to put together this website to help communicate all the details.  We have a lot of pictures of the resort (more coming soon) as well as details on room pricing and travel considerations.  Please bookmark our site and be sure to enter your email in the <%= link_to 'Stay Connected', '#section_5' %> section so that we can send you an email when we update the site.</p>					
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- /end Overview -->
	</div>
<!-- /end home [section_1] -->

<!-- About the Resort -->
	<!-- header -->
	<div id="section_2" class="wrap-section-header">
		<div class="section-header">
			<h1>Location</h1>
			<ul class="section-nav">
				<li><a class="up" href="#section_1"></a></li>
				<li><a class="down" href="#section_3"></a></li>
			</ul>
		</div>
	</div>
	<!-- /end header -->

	<!-- body -->
	<div class="wrap-section-body">
		<div id="portfolio">
		  <div class="column-960">
  		  <h1>Secrets Maroma Beach Riviera Cancun</h1>
  	    <p>Located on the coast of the Yucatan Peninsula, Secrets Maroma Beach is an adults-only all-inclusive resort.  Maroma beach is referred to as one of the best beaches in the world.  On five hundreds acres the resort features 412 all-suite rooms.  Seven gourmet restaurants and eight bars ranging from swim-up bars to Japanese hibachi.</p>
  		</div>

		<!-- filter -->
		<ul id="filter">
			<li class="selected"><a href="#" class="all">All</a></li>
			<li><a href="#" class="group_2">The Resort</a></li>
			<li><a href="#" class="group_1">The Rooms</a></li>
			<!-- <li><a href="#" class="video">Video</a></li> -->
		</ul>
		<!-- /end filter -->

		<!-- image-grid -->
		<ul id="list" class="image-grid clear">

      <li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image1.jpg" rel="prettyPhoto" title="">
					<img src="images/portfolio/resort/image1_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>

      <li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image2.jpg" rel="prettyPhoto" title="Maroma beach is ranked as one of the best beaches in the world.">
					<img src="images/portfolio/resort/image2_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>
			
			<li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image3.jpg" rel="prettyPhoto" title="">
					<img src="images/portfolio/resort/image3_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>
			
			<li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image4.jpg" rel="prettyPhoto" title="">
					<img src="images/portfolio/resort/image4_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>
			
			<li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image5.jpg" rel="prettyPhoto" title="This is the location of where the ceremony will be taking place.">
					<img src="images/portfolio/resort/image5_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>

      <li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image6.jpg" rel="prettyPhoto" title="Water flows throughout the entire resort.">
					<img src="images/portfolio/resort/image6_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>

			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image1.jpg" rel="prettyPhoto" title="There is a Secret box in every suite for private room service delivery">
					<img src="images/portfolio/room/image1_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image2.jpg" rel="prettyPhoto" title="Besides standard amentites (soap & shampoo) additonals such as sunscreen, bug wipes, and incense are included.  Preferred Club suites have upgraded amenities.">
					<img src="images/portfolio/room/image2_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image3.jpg" rel="prettyPhoto" title="Jacuzzi for two in every room.">
					<img src="images/portfolio/room/image3_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image4.jpg" rel="prettyPhoto" title="">
					<img src="images/portfolio/room/image4_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image5.jpg" rel="prettyPhoto" title="Four-poster king or two double beds are available.">
					<img src="images/portfolio/room/image5_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>

      <li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image6.jpg" rel="prettyPhoto" title="Mini-bar is refreshed daily with soft drinks, bottled water and beer.  These are all included with the price of the room.  Preferred club also features a selection of hard liquers.">
					<img src="images/portfolio/room/image6_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image7.jpg" rel="prettyPhoto" title="Preferred club rooms have the option of an outdoor soaking tub on their balcony.">
					<img src="images/portfolio/room/image7_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image8.jpg" rel="prettyPhoto" title="Rooms have either furnashed terraces or balconies.">
					<img src="images/portfolio/room/image8_thumb.jpg" width="220" height="154" alt="" />
				</a>
				<div class="information">
				</div>
			</li>

			<!--
			<li id="id-1" class="video">
				<a class="prettyPhoto" href="http://www.youtube.com/watch?v=u6XAPnuFjJc" rel="prettyPhoto" title="RSA Animate - Drive: The surprising truth about what motivates us">
					<img src="images/portfolio/image2_thumb.jpg" width="220" height="154" alt="RSA Animate - Drive" />
				</a>
				<div class="information">
					<h4>RSA Animate - Drive</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
				</div>
			</li>
			-->

		</ul>
		<!-- /end image-grid -->

		</div>
	</div>
	<!-- /end body -->
<!-- About the Resort -->

<!-- Lodging -->
	<!-- header -->
	<div id="section_3" class="wrap-section-header">
		<div class="section-header">
			<h1>Lodging</h1>
			<ul class="section-nav">
				<li><a class="up" href="#section_2"></a></li>
				<li><a class="down" href="#section_4"></a></li>
			</ul>
		</div>
	</div>
	<!-- /end header -->
	
	<style>
	  
	  table#room_rates {
	    border: 1px solid #333;
	    text-align: center;
	  }
	  
	  #room_rates th {
	    background: #333;
	    border: 1px solid #333;
	    color: #909090;
	    font-weight: normal;
	  }
	  
	  #room_rates th#room_type {
	    width: 250px;
	  }
	  
	  #room_rates td {
	    padding: 5px;
	    color: #666;
	    font-weight: lighter;
	  }
	  
	  #room_rates td.room-view {
      text-align: left;
      font-size: 1.05em;
      background: #909090;
      color: #333;
      font-weight: normal;
    }

	</style>
	
	<!-- body -->
	<div class="wrap-section-body">
		<div id="styles">
		  <div class="column-960">
		    <h1>Where to stay</h1>
		    <p>We will be staying at the Secrets Maroma Beach Resort from February 25 to March 4, 2012 and welcome you to stay there as well.  We have been able to negotiate a reduced price for our group and hope that you will take advantage of it.  If you decide to stay elsewhere we will be more than happy to provide you with a list of nearby hotels and resorts.</p>
		  </div>
		  
		  <div class="clear"></div>
		  
		  <div class="column-640">
		    
			  <table id="room_rates">
			    <tr>
			      <th id="room_type">Room Type</th>
			      <th class="cost-col">(Feb 23-March 2, 2012)</th>
			      <th class="cost-col">(March 2-7, 2012)</th>
			    </tr>
			    <tr>
			      <td colspan="3" class="room-view">Junior Suite Partial Ocean View</td>
			    </tr>
			    <tr>
			      <td class="room-type">Single (if 1 person in the room)</td>
			      <td>$331.67</td>
			      <td>$384.09</td>
			    </tr>
			    <tr>
			      <td>Double (if 2 person in the room)</td>
			      <td>$248.33</td>
			      <td>$302.02</td>
			    </tr>
			    <tr>
			      <td colspan="3" class="room-view">Junior Suite Ocean View</td>
			    </tr>
			    <tr>
			      <td>Single (if 1 person in the room)</td>
			      <td>$356.67</td>
			      <td>$414.46</td>
			    </tr>
			    <tr>
			      <td>Double (if 2 person in the room)</td>
			      <td>$273.33</td>
			      <td>$332.39</td>
			    </tr>
			    <tr>
			      <td colspan="3" class="room-view">Junior Suite View Swim Out</td>
			    </tr>
			    <tr>
			      <td>Single (if 1 person in the room)</td>
			      <td>$369.17</td>
			      <td>$430.05</td>
			    </tr>
			    <tr>
			      <td>Double (if 2 person in the room)</td>
			      <td>$285.83</td>
			      <td>$347.98</td>
			    </tr>
			    <tr>
			      <td colspan="3" class="room-view">Preferred Jr Suite Ocean View</td>
			    </tr>
			    <tr>
			      <td>Single (if 1 person in the room)</td>
			      <td>$419.17</td>
			      <td>$490.00</td>
			    </tr>
			    <tr>
			      <td>Double (if 2 person in the room)</td>
			      <td>$335.83</td>
			      <td>$407.89</td>
			    </tr>
			  </table>
			  *Rates priced as per person, per night, including tax, this is an all inclusive property
			</div>
			<!-- /end column 1 -->

      <div class="column-360">
        <h2>Whats Included</h2>
		    <ul>
		      <li>Full breakfast, lunch, dinner and snacks</li>
		      <li>Unlimited natural fruit juices and soft drinks</li>
		      <li>Unlimited premium and domestic beverages</li>
		      <li>Mini-bar with soft drinks, water and beer</li>
		      <li>24 hour room service</li>
          <li>Secret box for private room service delivery</li>
          <li>32" flat screen satellite television</li>
          <li>Private and furnished terrace or patio</li>
          <li>Jacuzzi for 2 in every room</li>
          <li>Bathrobes and slippers</li>
          <li>Non-motorized water sports</li>
          <li>Daily activities</li>
          <li><b>All taxes and gratuities</b></li>
        </ul>
      </div>
			<div class="clear"></div>
			
			<p>This negotiated rate is for a three night minimum stay but we invite you to stay as long as you like (we will be organizing some group excursions the days after the wedding).  We ask that you please book as soon as possible however the deadline is September 2nd, 2011.  At the time of booking a $250 deposit will need to be paid and the remaining amount will be due by December 2nd 2011.</p>
			
			<p>We will be sending out additional details soon so please make sure to sign up with your email address at the bottom of the page (<%= link_to 'Stay Connected', '#section_5' %>).  For any questions regarding booking or to reserve your room you please contact Brookside Travel:</p>
			
			<h3>Brookside Travel</h3>
	    <ul>
	      <li>Contact: Jim Ehehalt</li>
	      <li>Phone: (248) 344-4747</li>
	      <li>Email: jehehalt@jebrookside.com</li>
	      <li>Reference the Nickerson/Warzecha wedding when making your reservation</li>
	      <li>Make sure to specify if you want a king bed or two double beds</li>
	    </ul>

		</div>
		<div class="clear"></div>
	</div>
	<!-- /end body -->
<!-- Lodging -->

<!-- Travel -->
	<!-- header -->
	<div id="section_4" class="wrap-section-header">
		<div class="section-header">
			<h1>Travel</h1>
			<ul class="section-nav">
				<li><a class="up" href="#section_3"></a></li>
				<li><a class="down" href="#section_5"></a></li>
			</ul>
		</div>
	</div>
	<!-- /end header -->
	
	<!-- body -->
	<div class="wrap-section-body">
	  <div id="info">
	    <div class="column-960">
	      <h2>How to get there</h2>
	      <p>To get to the resort you will fly into the Cancun, Mexico airport and need to have an airport transfer take you (approx. 30 minutes) to the Secrets Maroma Beach Resort.</p>
	    </div>
	  
	    <div class="clear"></div>
	  
	    <div class="column-320 v-separator">
	      <h2>Flights</h2>
	      <br />
	     <script     src="http://www.kayak.com/widget/?ai=kayaksample&p=&cars=n&cruises=n&deals=n&hotels=n&vacations=n&tab=flights&l1=Detroit%2C%20MI%20-%20Detroit%20Metro%20%20(DTW)&l2=Cancun%2C%20QR%2C%20Mexico%20-%20Cancun%20(CUN)&size=300x250"></script>
	    </div>
	    
	    <div class="column-640">
	      <h2>Ground Transportation</h2>
	      <br />
	      Prior to visiting the resort we researched numerous transfers and ended up trying <b>Cancun Transfers</b>.  They were very well priced and provided safe/clean transportation.  We would recommend prepaying online.
	     <a href="http://www.cancuntransfers.com">http://www.cancuntransfers.com/</a>
	    </div>
	   
	     
			<div class="clear"></div>
		</div>
	</div>
	<!-- /end body -->
<!-- Travel -->

<!-- Contact-->
	<!-- header -->
	<div id="section_5" class="wrap-section-header">
		<div class="section-header">
			<h1>Stay Connected</h1>
			<ul class="section-nav">
				<li><a class="up" href="#section_4"></a></li>
				<li><a class="down" href="#section_5"></a></li>
			</ul>
		</div>
	</div>
	<!-- /end header -->

	<!-- body -->
	<div class="wrap-section-body">
		<div id="contact">
			<!-- column 1 -->
			<div class="column-960">
			  <h1>Sign up for our email list</h1>
				<p>We will be updating our site as more details come available.  Please fill out the following form so that we can let you know when we post more information.</p>
			
			  <%= form_for(@subscriber) do |f|%>
			  <% if @subscriber.errors.any? %>
			    <h5><%= pluralize(@subscriber.errors.count, "error") %> prohibited saving</h4>
			    <ul>
			    <% @subscriber.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			  <% end %>
			  
			  
			  <style>
			    table {
			      text-align: left;
			    }
			    
			    th {
			      text-align: left;
			      padding-top: 5px;
			      padding-bottom: 5px;
			    }
			    
			    input {
			      border: 1px solid;
			      width: 400px;
			    }
			    
			    select {
			      width: 150px;
			    }
			    
			    textarea {
			      border: 1px solid;
			      width: 400px;
			      height: 250px;
			    }
			    
			  </style>
			  
			    <table>
			      <tr>
			        <th>Guest(s) Name*:</th>
			      </tr>
			      <tr>
			        <td><%= f.text_field :name %></td>
			      </tr>
			      
			      <tr>
			        <th>Email Address*:</th>
			      </tr>
			      
			      <tr>
			        <td><%= f.text_field :email %></td>
			      </tr>
			      
			      <tr>
			        <th>Do you know if you will be attending?</th>
			      </tr>
			      
			      <tr>
			        <td><%= f.select(:will_attend_cd, Hash['Definitely' => 1,'Not Sure' => 2,'Unable To' => 3])%></td>
			      </tr>
			      
			      <tr>
			        <th>Do you know if you will be staying at Secrets Maroma Beach?</th>
			      </tr>
			      
			      <tr>
			        <td><%= f.select(:staying_at_resort_cd, Hash['Yes' => 1,'Maybe' => 2,'No' => 3])%></td>
			      </tr>
			      
			      <tr>
			        <th>Questions/Comments:</th>
			      </tr>
			      
			      <tr>
			        <td><%= f.text_area :comment %></td>
			      </tr>
			      
			      <tr>
			        <td><%= link_to_function "Sign Up", "$(this).up('form').submit()", :class => "button"  %></td>
			      </tr>
			    </table>
				<% end %>
			
			</div>
			
				  
				</div>
				<!-- /end contact form -->
			</div>
			<!-- /end column 2 -->

			<div class="clear"></div>

		</div>
	</div>
	<!-- /end body -->

	<!-- footer -->
	<div id="wrap-footer">
		<div id="wrap-2-footer">
			<div class="clear"></div>
		</div>
	</div>
	<!-- /end footer -->

<!-- /end contact [section_5]-->