<!-- home [section_1]-->
	<div id="section_1">

		<!-- javascript fallback -->
		<noscript>
			<ul class="noscript">
				<li>Unfortunately your browser does not have JavaScript capabilities which are required to exploit full functionality of our site. This could be the result of two possible scenarios:</li>
				<li>You are using an old web browser, in which case you should upgrade it to a newer version. We recommend the latest version of <a href="http://www.getfirefox.com">Firefox</a>.</li>
				<li>You have disabled JavaScript in you browser, in which case you will have to enable it to properly use our site. <a href="http://www.google.com/support/bin/answer.py?answer=23852">Learn how to enable JavaScript</a>.</li>
			</ul>
		</noscript>
		<!-- /end javascript fallback -->

		<!-- header -->
		<div id="wrap-header">
			<div id="wrap-2-header">

				<div id="logo">
				  <a href="#section_1"></a>
				</div>

				<ul id="menu">
					<li><a href="#section_1">Overview</a></li>
					<li><a href="#section_2">Location</a></li>
					<li><a href="#section_3">Lodging</a></li>
					<li><a href="#section_4">Travel</a></li>
					<li><a href="#section_5">Stay Connected</a></li>
				</ul>

				<div class="clear"></div>

			</div>
		</div>
		<!-- /end header -->

		<!-- slider -->
		<div id="wrap-slider">
			<div id="wrap-2-slider">
			<div id="slider" class="nivoSlider">
					<img src="images/slider/slider1.jpg" width="940" height="380" alt="" />
					<img src="images/slider/slider2.jpg" width="940" height="380" alt="" title="#caption_image2" />
					<img src="images/slider/slider3.jpg" width="940" height="380" alt="" title="#caption_image3" />
					<img src="images/slider/slider4.jpg" width="940" height="380" alt="" />
					<img src="images/slider/slider5.jpg" width="940" height="380" alt="" />
					<img src="images/slider/slider6.jpg" width="940" height="380" alt="" />
					<img src="images/slider/slider7.jpg" width="940" height="380" alt="" />
					<img src="images/slider/slider8.jpg" width="940" height="380" alt="" />
			</div>

			<!-- caption of second image -->
			<div id="caption_image2" class="nivo-html-caption">
				<h1>Caption</h1>
				<em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan odio nec odio porta condimentum.</em>
			</div>
			<!-- /end caption of second image -->

			<!-- caption of third image -->
			<div id="caption_image3" class="nivo-html-caption">
				<h1>Caption</h1>
			</div>
			<!-- /end caption of third image -->
			</div>
		</div>
		<!-- slider -->

		<!-- Overview -->
		<div class="wrap-section-body">
			<div id="info">
				<h1>February 28, 2012</h1>

				<div class="column-960">
					<h2>We invite you to share in our special day!</h2>
					<p>Stefanie and Jordan will be getting married in Riviera Cancun, Mexico at Secretes Maroma Beach resort.</p>
					<a class="button" href="/">Read more...</a>
				</div>

				<div class="clear"></div>
			</div>
		</div>
		<!-- /end Overview -->
	</div>
<!-- /end home [section_1] -->

<!-- About the Resort -->
	<!-- header -->
	<div id="section_2" class="wrap-section-header">
		<div class="section-header">
			<h1>The Location</h1>
			<ul class="section-nav">
				<li><a class="up" href="#section_1"></a></li>
				<li><a class="down" href="#section_3"></a></li>
			</ul>
		</div>
	</div>
	<!-- /end header -->

	<!-- body -->
	<div class="wrap-section-body">
		<div id="portfolio">
		  <div class="column-960">
  		  <h1>Secrets Maroma Beach Riviera Cancun</h1>
  	    <p>Located on the coast of the Yucatan Peninsula, Secrets Maroma Beach is an adults-only all-inclusive resort.  Maroma beach is refered to as one of the best beaches in mexico.  On five hundres acres the resort features 412 all-suite rooms.  Seven gourmet restaurants and eight bars franging.</p>
  		</div>

		<!-- filter -->
		<ul id="filter">
			<li class="selected"><a href="#" class="all">All</a></li>
			<li><a href="#" class="group_1">The Rooms</a></li>
			<li><a href="#" class="group_2">The Resort</a></li>
			<li><a href="#" class="video">Video</a></li>
		</ul>
		<!-- /end filter -->

		<!-- image-grid -->
		<ul id="list" class="image-grid clear">

			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image1.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/room/image1_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image2.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/room/image2_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image3.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/room/image3_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image4.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/room/image4_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image5.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/room/image5_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>

      <li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image6.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/room/image6_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image7.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/room/image7_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>
			
			<li id="id-10" class="group_1">
				<a class="prettyPhoto" href="images/portfolio/room/image8.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/room/image8_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>

      <li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image1.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/resort/image1_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>

      <li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image2.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/resort/image2_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>
			
			<li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image3.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/resort/image3_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>
			
			<li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image4.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/resort/image4_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>
			
			<li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image5.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/resort/image5_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>

      <li id="id-10" class="group_2">
				<a class="prettyPhoto" href="images/portfolio/resort/image6.jpg" rel="prettyPhoto" title="This is the description">
					<img src="images/portfolio/resort/image6_thumb.jpg" width="220" height="154" alt="This is the title" />
				</a>
				<div class="information">
					<h4>Aliquam iaculis</h4>
				</div>
			</li>
			
			<li id="id-1" class="video">
				<a class="prettyPhoto" href="http://www.youtube.com/watch?v=u6XAPnuFjJc" rel="prettyPhoto" title="RSA Animate - Drive: The surprising truth about what motivates us">
					<img src="images/portfolio/image2_thumb.jpg" width="220" height="154" alt="RSA Animate - Drive" />
				</a>
				<div class="information">
					<h4>RSA Animate - Drive</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
				</div>
			</li>

		</ul>
		<!-- /end image-grid -->

		</div>
	</div>
	<!-- /end body -->
<!-- About the Resort -->

<!-- Lodging -->
	<!-- header -->
	<div id="section_3" class="wrap-section-header">
		<div class="section-header">
			<h1>Lodging</h1>
			<ul class="section-nav">
				<li><a class="up" href="#section_3"></a></li>
				<li><a class="down" href="#section_5"></a></li>
			</ul>
		</div>
	</div>
	<!-- /end header -->
	
	<!-- body -->
	<div class="wrap-section-body">
		<div id="styles">
		  <div class="column-640">
				<h2>Rates</h2>
			  <table>
			    <tr>
			      <th>Room Type</th>
			      <th class="cost-col">Per Person/Per Night (Feb 23-March 2, 2012)</th>
			      <th class="cost-col">Per Person/Per Night (March 2-7, 2012)</th>
			    </tr>
			    <tr class="odd">
			      <td colspan="3">Junior Suite Partial Ocean View</td>
			    </tr>
			    <tr class="odd">
			      <td>Single (if 1 person in the room)</td>
			      <td>$331.67</td>
			      <td>$384.09</td>
			    </tr>
			    <tr class="odd">
			      <td>Double (if 2 person in the room)</td>
			      <td>$248.33</td>
			      <td>$302.02</td>
			    </tr>
			    <tr>
			      <td colspan="3">Junior Suite Ocean View</td>
			    </tr>
			    <tr>
			      <td>Single (if 1 person in the room)</td>
			      <td>$356.67</td>
			      <td>$414.46</td>
			    </tr>
			    <tr>
			      <td>Double (if 2 person in the room)</td>
			      <td>$273.33</td>
			      <td>$332.39</td>
			    </tr>
			    <tr>
			      <td colspan="3">Junior Suite View Swim Out</td>
			    </tr>
			    <tr>
			      <td>Single (if 1 person in the room)</td>
			      <td>$369.17</td>
			      <td>$430.05</td>
			    </tr>
			    <tr>
			      <td>Double (if 2 person in the room)</td>
			      <td>$285.83</td>
			      <td>$347.98</td>
			    </tr>
			    <tr>
			      <td colspan="3">Preferred Jr Suite Ocean View</td>
			    </tr>
			    <tr>
			      <td>Single (if 1 person in the room)</td>
			      <td>$419.17</td>
			      <td>$490.00</td>
			    </tr>
			    <tr>
			      <td>Double (if 2 person in the room)</td>
			      <td>$335.83</td>
			      <td>$407.89</td>
			    </tr>
			  </table>
			  *Rates priced as per person, per night, including tax, this is an all inclusive property
		
		    <h2>Brookside Travel</h2>
		    <ul>
		      <li>Contact: Jim Ehehalt</li>
		      <li>Phone: (248) 344-4747</li>
		      <li>Email: jehehalt@jebrookside.com</li>
		      <li>Group Number: #3614</li>
		    </ul>
		    
		    <h2>Whats Included</h2>
		    <ul>
		      <li>24 hour Unlimited-Luxury® room service</li>
          <li>No wristbands</li>
          <li>Full breakfast, lunch, dinner and snacks each day – boasting seven restaurants and eight bars including cigar, piano, music lounges and sports bars</li>
          <li>Welcome cocktail and cool towel</li>
          <li>Unlimited natural fruit juices and soft drinks</li>
          <li>Unlimited premium and domestic brand beverages</li>
          <li>Bathrobes and slippers</li>
          <li>Daily maid and turn down service</li>
          <li>Expansive infinity pool and a meandering river provide breathtaking views of the Caribbean, while twelve smaller pools create a sensual haven in front of lavish swim-out suites</li>

          <li>Pool and beach wait service</li>
          <li>Outdoor Jacuzzis</li>
          <li>Swim-up pool bar</li>
          <li>Non-motorized water sports including kayaking, windsurfing, sailing, beach and pool volleyball</li>
          <li>Daily activities including water aerobics, billiards, and dance lessons, just to name a few!</li>
          <li>Tennis clinics</li>
          <li>Fitness Center & cardio-conditioning facility – On premise state-of-the-art fitness center provides a full range of cardio-conditioning activities: weights, treadmills, lifecycles, step machines and cross trainer</li>
          <li>All taxes and gratuities</li>
        </ul>
        
        <h2>Room Accommodations</h2>
		    <ul>
		      <li>Four-poster king or two double beds</li>
          <li>An armoire complete with his and her closets</li>
          <li>24-hour room service</li>
          <li>Sofa</li>
          <li>Jacuzzi for 2 in every room</li>
          <li>Electronic safety deposit box (laptop size)</li>
          <li>Iron and ironing board</li>
          <li>Secret box for private room service delivery</li>
          <li>Night table with lamp</li>
          <li>32" flat screen satellite television</li>
          <li>DVD player</li>
          <li>Mini-bar refreshed daily with soft drinks, bottled water and beer</li>
          <li>Coffee/ tea maker</li>
          <li>Ceiling fan</li>
          <li>Alarm clock with MP3 player/docking station</li>
          <li>Private and furnished terrace or patio</li>
          <li>Vanity mirror</li>
          <li>Hair dryer</li>
          <li>Direct dial telephone</li>
          <li>Swim-out suites are also available with direct pool access</li>
          <li>Internet access in all suites (Additional cost applies)</li>
        </ul>
		    
		    
			</div>
			<!-- /end column 1 -->

			<div class="clear"></div>

		</div>
	</div>
	<!-- /end body -->
<!-- Lodging -->

<!-- Travel -->
	<!-- header -->
	<div id="section_4" class="wrap-section-header">
		<div class="section-header">
			<h1>Travel</h1>
			<ul class="section-nav">
				<li><a class="up" href="#section_3"></a></li>
				<li><a class="down" href="#section_5"></a></li>
			</ul>
		</div>
	</div>
	<!-- /end header -->
	
	<!-- body -->
	<div class="wrap-section-body">
	    <div class="column-960">
	      <script src="http://www.kayak.com/widget/?ai=kayaksample&p=&cars=n&cruises=n&deals=n&hotels=n&vacations=n&tab=flights&l1=Detroit%2C%20MI%20-%20Detroit%20Metro%20%20(DTW)&l2=Cancun%2C%20QR%2C%20Mexico%20-%20Cancun%20(CUN)&size=300x250"></script>
	      
	      <noscript><strong>Compare hundreds of travel sites</strong> at once to find the deal that's right for you <a href='http://www.kayak.com/in?&url=/' target='_blank'>on KAYAK</a></noscript>
	    </div>
	   
	     Cancun Transfers: http://www.cancuntransfers.com/
			<div class="clear"></div>
		</div>
	</div>
	<!-- /end body -->
<!-- Travel -->

<!-- Contact-->
	<!-- header -->
	<div id="section_5" class="wrap-section-header">
		<div class="section-header">
			<h1>Contact</h1>
			<ul class="section-nav">
				<li><a class="up" href="#section_4"></a></li>
				<li><a class="down" href="#section_5"></a></li>
			</ul>
		</div>
	</div>
	<!-- /end header -->

	<!-- body -->
	<div class="wrap-section-body">
		<div id="contact">

			<!-- column 1 -->
			<div class="column-480 v-separator">
				<h2>Where to find us</h2>

				<!-- contact info -->
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam massa sed risus lacinia in vulputate dolor imperdiet.</p>
				<ul id="contact-info">
					<li><strong>Cras Varius Ltd</strong></li>
					<li>10 Lorem Ipsum Street, Aliquam, AB5 1BD</li>
					<li>5555 123 123 123</li>
					<li>hello@yourcompany.com</li>
				</ul>
				<!-- /end contact info -->

				<!-- AddThis bookmarking add-on -->
				<div class="contact-addthis addthis_toolcolumn addthis_32x32_style addthis_default_style">
					<a class="addthis_button_facebook"></a>
					<a class="addthis_button_twitter"></a>
					<a class="addthis_button_email"></a>
					<a class="addthis_button_google"></a>
					<a class="addthis_button_compact"></a>
				</div>
				<!-- /end AddThis bookmarking add-on-->

			</div>
			<!-- /end column 1 -->

			<!-- column 2 -->
			<div class="column-480">
				<!-- contact form -->
				<h2>Get in touch</h2>
				<div>
				  <%= form_for(@subscriber) do |f|%>
				  <% if @subscriber.errors.any? %>
				    <h5><%= pluralize(@subscriber.errors.count, "error") %> prohibited saving</h4>
				    <ul>
				    <% @subscriber.errors.full_messages.each do |msg| %>
				      <li><%= msg %></li>
				    <% end %>
				    </ul>
				  <% end %>
						<ul>
							<li>
								<label for="name">Guest(s) Name*:</label>
								<%= f.text_field :name %>
							</li>
							<li>
								<label for="email">Email Address*:</label>
								<%= f.text_field :email %>
							</li>
							<li>
								<label for="will_attend">Do you know if you will be attending?</label>
								<%= select(f, :will_attend, Subscriber.will_attends.keys) %>
							</li>
							<li>
								<label for="staying_at_resort">Do you know if you will be staying at Secrets Maroma Beach?</label>
								<%= select(f, :staying_at_resort, Subscriber.staying_at_resorts.keys) %>
							</li>
							<li>
								<label for="comment">Questions/Comments:</label>
							  <%= f.text_area :comment %>
							</li>
							<li>
								<% f.submit %>
							</li>
						</ul>
					<% end %>
				</div>
				<!-- /end contact form -->
			</div>
			<!-- /end column 2 -->

			<div class="clear"></div>

		</div>
	</div>
	<!-- /end body -->

	<!-- footer -->
	<div id="wrap-footer">
		<div id="wrap-2-footer">
			<div class="clear"></div>
		</div>
	</div>
	<!-- /end footer -->

<!-- /end contact [section_5]-->